*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myclass{
    
    padding: 20px;
    margin: 20px;
}
.myclass h1{
    display: flex;
    justify-content: center;
    color: palevioletred;
}
.myclass h3{
    color: brown;
    padding: 20px;
    margin: 25px;
    font-weight: bold;
    font-size: 20px;
}
.myclass nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px;
    position: fixed;
    width: 100%;
    top: 2px;
    padding: 50px;

}
.myclass nav ul li{
    color: white;
    background-color: lightcoral;
    border: solid black;
    border-radius: 4px;
    cursor: pointer;
    

    
}
nav ul li:hover{
    background-color: red;
}
nav ul li:active{
    background-color: aqua;
}
.heroes h2{
    display: flex;
    justify-content: center;
}
 .divcontainer{
    display: grid;
    grid-template-areas: 
    "my contact details  my phone number"
    "my email id my email id";
    grid-template-columns: 2fr 1fr;
    grid-template-rows:  1fr 100px;
    height: 100%;
     gap: 10px;
     padding: 20px;
     margin: 10px;
    
    

    
}
.item{
    display: flex;
    justify-content: center;
    background-color: burlywood;

    color: brown;
    font-weight: bold;
    font-size: 30px;
    border-radius: 8px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 1);
    margin: 20px;
    word-spacing: 10px;
    gap: 20px;
}
.item3{
    grid-area: my email id;
}


footer h3 {
    display: flex;
    justify-content: end;
    
}
@media(max-width:768px){
    body{
        background-color: bisque;
        color: green;
    }
}
@media(max-width:425px){
    body{
        background-color: black;
        color: white;
    }
}




